---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign pubs = site.publications | sort: "date" | reverse %}

<h2 style="margin-top: 18px;">First author</h2>
<ol>
{% for p in pubs %}
  {% if p.first_author == true %}
    <li>
      {% if p.paperurl %}<a href="{{ p.paperurl }}">{% endif %}
      {{ p.title }}{% if p.paperurl %}</a>{% endif %}
      {% if p.venue %}, <em>{{ p.venue }}</em>{% endif %}
      {% if p.date %}, {{ p.date | date: "%Y" }}{% endif %}
      {% if p.note %} — {{ p.note }}{% endif %}
    </li>
  {% endif %}
{% endfor %}
</ol>

<h2 style="margin-top: 18px;">Co-author</h2>
<ol>
{% for p in pubs %}
  {% unless p.first_author == true %}
    <li>
      {% if p.paperurl %}<a href="{{ p.paperurl }}">{% endif %}
      {{ p.title }}{% if p.paperurl %}</a>{% endif %}
      {% if p.venue %}, <em>{{ p.venue }}</em>{% endif %}
      {% if p.date %}, {{ p.date | date: "%Y" }}{% endif %}
      {% if p.note %} — {{ p.note }}{% endif %}
    </li>
  {% endunless %}
{% endfor %}
</ol>



